@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Made by: @ViewData["Creator"]!</p>
<address>
    <strong>More information: </strong>
    <a href="http://ajsucre.com.ve">ajsucre.com.ve</a>
</address>